.btn__save {
    min-width: 100%;
    margin-top: 46px;
    padding: 14px 0;
    border: none;
    border-radius: 2px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}
.btn__save:hover,
.btn__save:focus {
    opacity: 0.8;
    cursor: pointer;
    outline: none;
}