.popup__btn_type_close {
    position: absolute;
    top: -34px;
    right: 0px;
    transform: rotate(45deg);
    border: none;
    padding: 0;
    background: transparent;
}

.popup__btn_type_close:hover,
.popup__btn_type_close:focus {
    opacity: 0.6;
    cursor: pointer;
    outline: none;
}

@media screen and (min-width: 1280px) {
    .popup__btn_type_close {
        top: -38px;
        right: -36px;
    }
}
