.profile__edit-btn {
    padding-left: 10px;
}
.profile__edit-btn:hover {
    opacity: 0.6;
    cursor: pointer;
}
@media screen and (min-width: 1280px) {
    .profile__edit-btn {
        position: relative;
        min-height: 25px;
        margin-left: 18px;
    }
}