.header {
  margin-top: 45px;
  padding-bottom: 32px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  flex-shrink: 0;
}

@media screen and (min-width: 1280px) {
  .header {
    padding-bottom: 41px;
  }
}
