.popup__btn_type_close {
  position: absolute;
  height: 26px;
  left: 91.69%;
  top: -34px;
  transform: rotate(-45deg);
  border: none;
  padding: 0;
  background-image: url(../../../../images/add.svg);
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 26px;
  width: 100%;
  max-width: 26px;
  transition: opacity 0.3s ease-in-out;
}

.popup__btn_type_close:hover,
.popup__btn_type_close:focus {
  opacity: 0.6;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 1280px) {
  .popup__btn_type_close {
    height: 40px;
    left: 100%;
    top: -42px;
    background-size: 40px;
    max-width: 40px;
  }
}
